body{
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

.logo{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 48px;
   
}

main{
    width: 940px;
    height:fit-content;
    display: inline;
}
main div{
    display: inline-block;
}

.encriptador{
    margin-top: 80px;
    width: 60%;
    height: 680px;
    vertical-align: top;
}

.tablonArea{
    text-align: center;
    width: 35%;
}

.tablon{
    
    width: 400px;
    height: 680px;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.tablon img{
    width: 336px;
    height: 304px;
    margin: 120px 0 0 32px;
}

.tablon .titulo{
    text-align: center;
    width: 336px;
    height: 58px;
    font-size:24px;
    margin: 0 auto;
    margin-top: 32px;
    color: #343A40;
    font-weight: bold;
}

.tablon .subtitulo{
    text-align: center;
    width: 336px;
    height: 58px;
    font-size:16px;
    margin: 0 auto;
    margin-top: 16px;
}

 #tablonmensajes{
    margin: 20px 0 0 35px;
    width: 320px;
    height: 550px;
    border: none;
    resize: none;
    outline: none;
    font-size: 24px;
}


#notext{
    display: block;
}

#text{
    display: none;
}

.botoncopiar{
    box-sizing: border-box;
    width: 336px;
    height: 67px;
    margin: auto;

    border: 1px solid #0A3871;
    border-radius: 24px;
}

#mensaje{
    padding-left: 200px;
    border: none;
    background-color:#F3F5FC;
    outline: none;

    resize: none;
    margin: 80px auto 0 auto;
    width: 80%;
    height: 420px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

::placeholder{
    color: #0A3871;
    font-weight: bold;
}

.aviso{
    margin-top: 10px;
    margin-left: 200px;
}

.botones{
   margin-left: 200px;
   display: block;
}
.encriptar{
    width: 128px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #FFFFFF;
    margin-right: 16px;
}

.desencriptar{
    width: 128px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
}

footer{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 30px;
}

footer p{
    margin-top: 10px;
}

@media screen and (max-width:940px){
  
  footer{
    margin-top: 150px;
  }

  .tablon{
    margin: auto auto;
  }

  .botones{
    display:contents;
  }
.encriptar,.desencriptar{
    margin:0 0 15px 0;
}
  main .tablonArea{
   width:100%;
   align-items: center;
  }
  
  #mensaje {
    width: 80%;
    height: 100px;
  }
  .encriptador{
    width: 100%;
    height: fit-content;
    margin: 80px auto 10px auto;
    text-align: center;
    
  }
}